#team-selection-panel {
    display: flex;
    height: 100%;
    text-align: center;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.selection {
    height: 100%;
    position: relative;
}

h2 {
    font-size: large;
}

.selection-team {
    width: 40%;
}

.selection-no-team {
    width: 20%;
    background-color: #1f5d8c;
}
