.card {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-half {
    position: relative;
    width: 50%;
    padding-bottom: 66.7%;
    height: 0;
}

.card-half-left {
    border-top-left-radius: 5% 5%;
    border-bottom-left-radius: 5% 5%;
}

.card-half-right {
    border-top-right-radius: 5% 5%;
    border-bottom-right-radius: 5% 5%;
}

.card-text {
    font-size: large;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-name {
    font-size: large;
}

.card-arrow {
    font-size: xx-large;
    margin: 0;
}
