.indicator {
    background-color: #061527;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
}
