h1 {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 5rem;
    text-shadow: 3px 3px rgb(6, 21, 39);
}

.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
        'Score Chat'
        'Dial Chat'
        'Card Chat'
        'Control Chat';
}

@media (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, min-content);
        gap: 0px 0px;
        grid-template-areas:
            'Dial'
            'Card'
            'Control'
            'Score'
            'Chat';
    }
}
.Card {
    position: relative;
    grid-area: Card;
    z-index: 2;
    max-height: 100px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.Card-container {
    position: inherit;
    width: 65%;
    background-color: #00000080;
}

.Dial {
    position: relative;
    grid-area: Dial;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: magenta;
}
.Dial-container {
    position: relative;
    width: 75%;
    max-width: 600px;
    padding: 5% 20%;
    background-color: #00000080;
}

.Chat {
    position: relative;
    grid-area: Chat;
    /* max-width: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.Chat-container {
    /* min-height: 300px; */
    height: 300px;
    width: 90%;
    padding: 50px 5%;
    /* height: 600px; */
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.Score {
    position: relative;
    grid-area: Score;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
}

.Score-container {
    position: inherit;
}

.Control {
    position: relative;
    grid-area: Control;
    padding: 1%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightcoral;
}

.Control-container {
    position: inherit;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00000080;
}
/* 
.grid-cell {
    padding: '5%';
    margin: 'auto';
    max-width: '600px';
    width: '80%';
} */
