.container {
    width: 100%;
    padding-bottom: 50%;
    height: 0;
    /* margin-top: 10px; */
    /* margin-bottom: 1%; */
    position: relative;
    /* touch-action: none; */
}

.container-clip {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.container-noclip {
    position: absolute;
    height: 100%;
    width: 100%;
}

#frame {
    z-index: 0;
}
#knob-hand {
    z-index: 100;
}
#knob-handle {
    z-index: 100;
}
#knob-hand-shadow {
    z-index: 100;
}
#screen-plate {
    z-index: 20;
}
#screen-handle {
    z-index: 200;
}
#target {
    z-index: 0;
}
